.get-data {
  background-color: var(--color2, #383d47);
  color: var(--color5, white);
  border: 2px solid var(--color5, white);
  padding:15px 30px;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  margin:auto;
  margin-top:20px;
  margin-left:20px;
}

.get-data:hover {
    background-color: var(--color8, #272727);
    color: var(--color28, white); 
}

.get-data:focus { outline: none; }

.button-wrapper {
  margin-bottom:30px;
}
