.get-data {
  background-color: rgb(var(--color2));
  color: rgb(var(--color5));
  border: 2px solid rgb(var(--color5));
  padding:15px 30px;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  margin:auto;
  margin-top:20px;
  margin-left:20px;
}

.get-data:hover {
    background-color: rgb(var(--color8));
    color: rgb(var(--color28)); 
}

.button-wrapper {
  margin-bottom:30px;
}
