.modal{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1001;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
}

.modal-panel{
	position: absolute;
	margin: 0px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 80vh;
	width: 80vw;
	max-height: 100%;
}

.rcm-panel{
	/* height: 300px; */
}