.span-container{
  position: relative;
  width:25px;
  height: 40px;
  display: inline-block;
}

.arrow-up {
  position:absolute;
  top:13px;
  left:7px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5.5px 6px 5.5px;
  border-color: transparent transparent white transparent;
}

.arrow-down {
  position:absolute;
  top:21px;
  left:7px;
  display:inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 5.5px 0 5.5px;
  border-color: white transparent transparent transparent;
}

.thead-container {
  display: inline-block;
  height: 40px;
  vertical-align: top;
  margin-left:5px;
  white-space: nowrap;
}

.toggle-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table {
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 1px;
  /* width:100%; */
}

.table-header {
  position: relative;
  text-align: left;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.table-header{
  padding:0;
  height:40px;
}

.table-header-visuals{
  background-color:#383d47;
  color:white;
}

.table-row{
  height: 100%;
  font-size: 14px;
  color: rgba(255,255,255,0.8);
}

.table-row-visuals:nth-child(even) {
  background-color: #4f5564;
}

.table-row-visuals:hover,.table-header-visuals:hover {
  background-color: #00b0a4;
}

.table-header-visuals:hover {
  background-color: #00998f;
}

.header-cell {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}

.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}