.header {
	background-color: rgb(var(--color3));
}

.header:hover {
	background-color: rgb(var(--color12));
}

.cell {
	transition: background-color 0.2s ease-out;
}

.cell:hover {
	background-color: rgb(var(--color11));
	transition-duration: 0.01s;
}

.even-cell {
	background-color: rgb(var(--color4));
}

.selected-row {
	background-color: rgb(var(--color2));
}

.horizontal-scroll {
	overflow-x: auto;
	background-color: rgb(var(--color1));
}

.horizontal-scroll::-webkit-scrollbar {
	height: 10px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
	background: rgb(var(--color11));
	border-radius: 5px;
}

.horizontal-scroll::-webkit-scrollbar-thumb:hover {
	background: rgb(var(--color12));
}

.fix-index {
    z-index:2;
    position:relative;
    height:100%;
}
