.App {
  text-align: center;
  /* background-color: #282c34; */
  background-color: rgb(var(--color1));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(var(--color5));
}

.dropdown{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.dropdown-menu{
	max-height: 100%;
}

.rcm{
	height: 300px;
}