.default-button {
    background-color: #434956;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding:10px 20px;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin:auto;
  }
  
  .default-button:hover {
      background-color: white;
      color: black;
  }
  
  .default-button:focus { outline: none; }