.default-button {
	background-color: var(--color2, #383d47);
	color: var(--color5,white);
	border: 1px solid var(--color5,white);
	border-radius: 4px;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: bold;
	-webkit-transition-duration: 0.3s;
	/* Safari */
	transition-duration: 0.3s;
	cursor: pointer;
	margin: auto;
}

.default-interactions:hover {
	background-color: var(--color8, #272727);
	color: var(--color28, white);
}

.default-interactions:active {
	border: 1px solid var(--color6,grey);
}


.disabled {
	color: var(--color6,grey) !important;
	border-color: var(--color6,grey) !important;
	background-color: var(--color4,#4f5564) !important;
	cursor: default !important;
	opacity: 0.9;
}

.disabled:hover {
	color:var(--color6,grey) !important;
	border-color: var(--color6,grey) !important;
	background-color: var(--color4,#4f5564) !important;
}