.default-button {
	background-color: rgb(var(--color2));
	color: rgb(var(--color5));
	border: 1px solid rgb(var(--color5));
	border-radius: 4px;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: bold;
	-webkit-transition-duration: 0.3s;
	/* Safari */
	transition-duration: 0.3s;
	cursor: pointer;
	margin: auto;
}

.default-interactions:hover {
	background-color: rgb(var(--color8));
	color: rgb(var(--color28));
}

.default-interactions:active {
	border: 1px solid rgb(var(--color6));
}


.disabled {
	color: rgb(var(--color6)) !important;
	border-color: rgb(var(--color6)) !important;
	background-color: rgb(var(--color4)) !important;
	cursor: default !important;
	opacity: 0.9;
}

.disabled:hover {
	color: rgb(var(--color6)) !important;
	border-color: rgb(var(--color6)) !important;
	background-color: rgb(var(--color4)) !important;
}