.custom-header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
}

.date{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: bold;

}

.month-picker-rcm{
	width: 150px;
	height: 190px;
}
.year-picker-rcm{
	width: 100px;
	height: 190px;
}

.arrow {
	padding:5px;
	cursor: pointer;
	font-size:20px;
	user-select: none;
}

.arrow:hover {
	color:rgb(var(--color20));
}