.progress-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  word-wrap: break-word;
  padding: 0 5px;
}

.progress{
  height: 100%;
  min-height: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.solid-background-red {
  background-color: rgb(var(--color18));
}

.solid-background-amber {
  background-color: rgb(var(--color15));
}

.solid-background-green {
  background-color: rgb(var(--color17));
}

.solid-background-grey {
  background-color: rgb(var(--color10));
}

.solid-background-blue {
  background-color: rgb(var(--color16));
}

.hover-red:hover{
  background-color: rgb(var(--color18));
}

.hover-green:hover{
  background-color: rgb(var(--color17));
}

.hover-amber:hover{
  background-color: rgb(var(--color15));
}

.hover-grey:hover{
  background-color: rgb(var(--color10));
}

.hover-blue:hover{
  background-color: rgb(var(--color16));
}

.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color-circle-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-circle {
  height:21px;
  width:21px;
  border:1px solid transparent;
  border-radius:50%;
}

.color-dropdown-container{
  position: relative;
}

.color-dropdown {
  background-color: rgb(var(--color2));
  z-index: 100;
  user-select: none;
}

.color-dropdown-menu {
  padding:0;
  margin:0;
  padding:10px;
  list-style: none;
  text-align: center;
}

.color-dropdown-item{
  padding: 5px 0;
}


.is-editable-small{
  border: 1px solid rgb(var(--color5));
}

.non-editable-green {
  --main-color: rgb(var(--color17));
  --stripe-color: rgb(var(--color21));
  background-image: linear-gradient(135deg, var(--stripe-color) 25%, var(--main-color) 25%, var(--main-color) 50%, var(--stripe-color) 50%, var(--stripe-color) 75%, var(--main-color) 75%, var(--main-color) 100%);
  background-size: 22.63px 22.63px;
}

.non-editable-red {
  --main-color: rgb(var(--color18));
  --stripe-color: rgb(var(--color22));
  background-image: linear-gradient(135deg, var(--stripe-color) 25%, var(--main-color) 25%, var(--main-color) 50%, var(--stripe-color) 50%, var(--stripe-color) 75%, var(--main-color) 75%, var(--main-color) 100%);
  background-size: 22.63px 22.63px;
}

.non-editable-amber {
  --main-color: rgb(var(--color15));
  --stripe-color: rgb(var(--color19));
  background-image: linear-gradient(135deg, var(--stripe-color) 25%, var(--main-color) 25%, var(--main-color) 50%, var(--stripe-color) 50%, var(--stripe-color) 75%, var(--main-color) 75%, var(--main-color) 100%);
  background-size: 22.63px 22.63px;
}

.non-editable-blue {
  --main-color: rgb(var(--color16));
  --stripe-color: rgb(var(--color20));
  background-image: linear-gradient(135deg, var(--stripe-color) 25%, var(--main-color) 25%, var(--main-color) 50%, var(--stripe-color) 50%, var(--stripe-color) 75%, var(--main-color) 75%, var(--main-color) 100%);
  background-size: 22.63px 22.63px;
}

.non-editable-grey {
  --main-color: rgb(var(--color10));
  --stripe-color: rgb(var(--color23));
  background-image: linear-gradient(135deg, var(--stripe-color) 25%, var(--main-color) 25%, var(--main-color) 50%, var(--stripe-color) 50%, var(--stripe-color) 75%, var(--main-color) 75%, var(--main-color) 100%);
  background-size: 22.63px 22.63px;
}

.small-stripes{
  background-size: 5.66px 5.66px;
}

.panel{
  position:absolute;
  left:0;
  top:0;
  z-index: 100;
}

.caret{
	left:0px;
}