.progress-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  word-wrap: break-word;
  padding: 0 5px;
}

.progress{
  height: 100%;
  min-height: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.solid-background-red {
  background-color: #ff3d57;
}

.solid-background-amber {
  background-color: #ffbf00;
}

.solid-background-green {
  background-color: #00CC6F;
}

.solid-background-grey {
  background-color: grey;
}

.solid-background-blue {
  background-color: #74dcee;
}

.hover-red:hover{
  background-color: #ff3d57;
}

.hover-green:hover{
  background-color: #00CC6F;
}

.hover-amber:hover{
  background-color: #ffbf00;
}

.hover-grey:hover{
  background-color: grey;
}

.hover-blue:hover{
  background-color: #74dcee;
}

.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color-circle-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-circle {
  height:21px;
  width:21px;
  border:1px solid transparent;
  border-radius:50%;
}

.color-dropdown-container{
  position: relative;
}

.color-dropdown {
  position:absolute;
  left:0;
  top:0;
  background-color: #282c34;
  z-index: 100;
  user-select: none;
}

.color-dropdown-menu {
  padding:0;
  margin:0;
  padding:10px;
  list-style: none;
  text-align: center;
}

.color-dropdown-item{
  padding: 5px 0;
}


.is-editable-small{
  border: 1px solid white;
}

.non-editable-green {
  --main-color: #00b361;
  --stripe-color: #00CC6F;
  background-image: linear-gradient(135deg, var(--stripe-color) 25%, var(--main-color) 25%, var(--main-color) 50%, var(--stripe-color) 50%, var(--stripe-color) 75%, var(--main-color) 75%, var(--main-color) 100%);
  background-size: 22.63px 22.63px;
}

.non-editable-red {
   --main-color: #c33f51;
  --stripe-color: #ff3d57;
  background-image: linear-gradient(135deg, var(--stripe-color) 25%, var(--main-color) 25%, var(--main-color) 50%, var(--stripe-color) 50%, var(--stripe-color) 75%, var(--main-color) 75%, var(--main-color) 100%);
  background-size: 22.63px 22.63px;
}

.non-editable-amber {
   --main-color: #dea700;
  --stripe-color: #ffbf00;
  background-image: linear-gradient(135deg, var(--stripe-color) 25%, var(--main-color) 25%, var(--main-color) 50%, var(--stripe-color) 50%, var(--stripe-color) 75%, var(--main-color) 75%, var(--main-color) 100%);
  background-size: 22.63px 22.63px;
}

.non-editable-blue {
   --main-color: #6ac4d4;
  --stripe-color: #74dcee;
  background-image: linear-gradient(135deg, var(--stripe-color) 25%, var(--main-color) 25%, var(--main-color) 50%, var(--stripe-color) 50%, var(--stripe-color) 75%, var(--main-color) 75%, var(--main-color) 100%);
  background-size: 22.63px 22.63px;
}

.non-editable-grey {
     --main-color: #6d6d6d;
  --stripe-color: #808080;
  background-image: linear-gradient(135deg, var(--stripe-color) 25%, var(--main-color) 25%, var(--main-color) 50%, var(--stripe-color) 50%, var(--stripe-color) 75%, var(--main-color) 75%, var(--main-color) 100%);
  background-size: 22.63px 22.63px;
}

.small-stripes{
  background-size: 5.66px 5.66px;
}