.progress-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  word-wrap: break-word;
  padding: 0 5px;
}

.progress{
  height: 100%;
  min-height: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.solid-background-red {
  background-color: var(--color18, #ff3d57);
}

.solid-background-amber {
  background-color: var(--color15, #ffc92a);
}

.solid-background-green {
  background-color: var(--color17, #00CC6F);
}

.solid-background-grey {
  background-color: var(--color6, grey);
}

.solid-background-blue {
  background-color: var(--color16, #74dcee);
}

.hover-red:hover{
  background-color: var(--color18, #ff3d57);
}

.hover-green:hover{
  background-color: var(--color17, #00CC6F);
}

.hover-amber:hover{
  background-color: var(--color15, #ffc92a);
}

.hover-grey:hover{
  background-color: var(--color6, grey);
}

.hover-blue:hover{
  background-color: var(--color16, #74dcee);
}

.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color-circle-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-circle {
  height:21px;
  width:21px;
  border:1px solid transparent;
  border-radius:50%;
}

.color-dropdown-container{
  position: relative;
}

.color-dropdown {
  position:absolute;
  left:0;
  top:0;
  background-color: var(--color24, #282c34);
  z-index: 100;
  user-select: none;
}

.color-dropdown-menu {
  padding:0;
  margin:0;
  padding:10px;
  list-style: none;
  text-align: center;
}

.color-dropdown-item{
  padding: 5px 0;
}


.is-editable-small{
  border: 1px solid var(--color5, white);
}

.non-editable-green {
  --main-color: var(--color17, #00CC6F);
  --stripe-color: var(--color21, #00b361);
  background-image: linear-gradient(135deg, var(--stripe-color) 25%, var(--main-color) 25%, var(--main-color) 50%, var(--stripe-color) 50%, var(--stripe-color) 75%, var(--main-color) 75%, var(--main-color) 100%);
  background-size: 22.63px 22.63px;
}

.non-editable-red {
   --main-color: var(--color18, #ff3d57);
  --stripe-color: var(--color22, #c33f51);
  background-image: linear-gradient(135deg, var(--stripe-color) 25%, var(--main-color) 25%, var(--main-color) 50%, var(--stripe-color) 50%, var(--stripe-color) 75%, var(--main-color) 75%, var(--main-color) 100%);
  background-size: 22.63px 22.63px;
}

.non-editable-amber {
   --main-color: var(--color15, #ffc92a);
  --stripe-color: var(--color19, #dea700);
  background-image: linear-gradient(135deg, var(--stripe-color) 25%, var(--main-color) 25%, var(--main-color) 50%, var(--stripe-color) 50%, var(--stripe-color) 75%, var(--main-color) 75%, var(--main-color) 100%);
  background-size: 22.63px 22.63px;
}

.non-editable-blue {
   --main-color: var(--color16, #74dcee);
  --stripe-color: var(--color20, #6ac4d4);
  background-image: linear-gradient(135deg, var(--stripe-color) 25%, var(--main-color) 25%, var(--main-color) 50%, var(--stripe-color) 50%, var(--stripe-color) 75%, var(--main-color) 75%, var(--main-color) 100%);
  background-size: 22.63px 22.63px;
}

.non-editable-grey {
     --main-color: var(--color6, grey);
  --stripe-color: var(--color23, #6d6d6d);
  background-image: linear-gradient(135deg, var(--stripe-color) 25%, var(--main-color) 25%, var(--main-color) 50%, var(--stripe-color) 50%, var(--stripe-color) 75%, var(--main-color) 75%, var(--main-color) 100%);
  background-size: 22.63px 22.63px;
}

.small-stripes{
  background-size: 5.66px 5.66px;
}

.panel{
  position:absolute;
  left:0;
  top:0;
  z-index: 100;
}

.caret{
	left:0px;
}