.generic-cell {
 	height:100%;
  	user-select: none;
  	position: relative;
}

.generic-container {
  	display: flex;
  	height: 100%;
	box-sizing: border-box;
}

.dropdown-with-title{
	display: flex;
	flex-direction: column;
	width:50%;
}

.dropdown-with-title-small{
	width: 100%;
}

.title{
}

.dd{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding:5px;
}

.ddm{
	max-height: 100%;
}

.rcm{
	height: 200px;
	width: 500px;
	padding:10px;
}

.rcm-small{
	width: 250px;
}