.generic-cell {
 	height:100%;
  	user-select: none;
  	position: relative;
}

.generic-container {
  	display: flex;
  	height: 100%;
  	padding: 10px;
	box-sizing: border-box;
}

.dropdown-with-title{
	display: flex;
	flex-direction: column;
	width:50%;
}

.title{
	/* flex:0; */
}

.dd{
	height:100%;
	display: flex;
	flex-direction: column;
}

.ddm{
	max-height: 100%;
}

.rcm{
	height: 200px;
	width: 500px;
}