/* .generic-menu{
  display: flex;
  justify-content: space-between;  
  padding:10px;
  position:absolute;
  background-color: #282c34;
  color: rgb(255, 255, 255);
  z-index: 100;
  border-radius: 4px;
  left: -125px;  
} */

.generic-container {
  display: flex;
  justify-content: space-between;  
}

.generic-panel {
  position:absolute;
  z-index: 100;
  left: -125px;  
}

.generic-caret {
  left:150px;
}

.generic-cell {
  height:100%;
  user-select: none;
  position: relative;
}

/* .absolute-caret {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 18px 17px 18px;
  border-color: transparent transparent #282c34 transparent;
  position: absolute;
  top: -10px;
  left: 142px;
} */

.dropdown-title {
  margin:0;
  margin-left:10px;
  font-weight: bold;
}

.user-row{
  /* height:40px; */
  color:white;
  transition: all 0.5s;
}

.tripleFill-user-name{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin:0;
  margin-left:10px;
  line-height:40px;
}