.datepicker-modal{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	width: 0px;
	height: 0px;
}

.rcm {
  padding: 0;
}

.date-cell-default{
	position: relative;
}

.looks-editable {
	cursor: pointer;
}