.react-datepicker{
	--text: rgb(var(--color5));
	--background: rgb(var(--color2));
	--darker-background: rgb(var(--color3));
	--day-hover-background: rgb(var(--color20));
	--day-hover-text: rgb(var(--color28));
	--current-day-background: rgb(var(--color16));
	--current-day-text: rgb(var(--color28));

	--arrow-hover: var(--day-hover-background);
	--current-day-background-hover: var(--day-hover-background);
	--current-day-text-hover: var(--day-hover-text);
	
	background-color: var(--background);
	border:none;
}

.react-datepicker__header {
	background-color: var(--darker-background)
}

.react-datepicker__day{
	color: var(--text)
}

.react-datepicker__day:hover{
	background-color: var(--day-hover-background);
	color: var(--day-hover-text);	
}

.react-datepicker__day--selected{
	background-color: var(--current-day-background);
	color: var(--current-day-text);
}

.react-datepicker__day--selected:hover{
	background-color: var(--current-day-background-hover);
	color: var(--current-day-text-hover)
}

.react-datepicker__day-name{
	color: var(--text)
}

.react-datepicker__current-month{
	color: var(--text)
}

.react-datepicker__navigation--previous{
	border-right-color: var(--text);
}

.react-datepicker__navigation--next{
	border-left-color: var(--text);
}

.react-datepicker__navigation--previous:hover{
	border-right-color: var(--arrow-hover);
}

.react-datepicker__navigation--next:hover{
	border-left-color: var(--arrow-hover);
}