.container{
	display:flex;
	height:100%;
	align-items: center;
	padding-left:5px;
	justify-content: space-between;
	box-sizing: border-box;
}

.content{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caret{
	margin-right: 10px;
	font-size: 1.2em;
}

.looks-editable{
	color: rgb(var(--color9));
}