.progress-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  word-wrap: break-word;
  padding: 0 5px;

}

.progress{
  height: 100%;
  min-height: 100%;
  border-radius: 4px;
  transition: background-color 0.7s;
}

.background-red {
  background-color: #ff3d57;
}

.background-amber {
  background-color: #ffbf00;
}

.background-green {
  background-color: #00CC6F;
}

.background-grey {
  background-color: grey;
}

.background-blue {
  background-color: #74dcee;
}

.hover-red:hover{
  background-color: #ff3d57;
}

.hover-green:hover{
  background-color: #00CC6F;
}

.hover-amber:hover{
  background-color: #ffbf00;
}

.hover-grey:hover{
  background-color: grey;
}

.hover-blue:hover{
  background-color: #74dcee;
}

.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color-circle-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-circle {
  height:21px;
  width:21px;
  border:1px solid transparent;
  border-radius:50%;
  transition: background-color 0.7s;
}



.color-dropdown {
  position:absolute;
  left:0;
  top:0;
  background-color: #282c34;
  z-index: 100;
  user-select: none;
}

.color-dropdown-menu {
  padding:0;
  margin:0;
  padding:10px;
  list-style: none;
  text-align: center;
}

.color-dropdown-item{
  padding: 5px 0;
}




