.grid-item{
	--icon-color: transparent;
	--background-color: transparent;
}

.grid-item:hover{
	--icon-color: rgb(var(--color5));
	--background-color: rgba(var(--color5), 0.2);
}

.child-item {
	background-color: var(--background-color);
	transition: background-color ease 0.5s;
}

.handler{
	padding: 0px 10px 10px 10px;
}

.handler-bar{
	cursor: pointer;
	padding-top: 5px;
	color: var(--icon-color);
	display: flex;
	justify-content: space-between;
	transition: color ease 0.5s;
}

.drag-icon{
	padding-left: 10px;
	padding-bottom: 5px;
	transition: transform 0.2s ease-in-out;
}

.drag-icon:hover{
	transform: scaleY(0.7);
}

.resizer{
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 20px;
	width: 20px;
	display:flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.resize-icon {
    height: 35%;
	width: 35%;
	border-right:solid 2px var(--icon-color);
	border-bottom:solid 2px var(--icon-color);
    transition: border-color ease 0.5s;
}







