.progress-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  word-wrap: break-word;
  padding: 0 5px;

}

.progress-red {
  background-color: #ff3d57;
  height: 100%;
  min-height: 100%;
  border-radius: 4px;
  transition: background-color 0.7s;
}

.progress-amber {
  background-color: #ffbf00;
  height: 100%;
  min-height: 100%;
  border-radius: 4px;
  transition: background-color 0.7s;
}

.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.progress-green {
  background-color: #00CC6F;
  height: 100%;
  min-height: 100%;
  border-radius: 4px;
  transition: background-color 0.7s;
}

.progress-grey {
  background-color: grey;
  height: 100%;
  min-height: 100%;
  border-radius: 4px;
  transition: background-color 0.7s;
}

.color-circle-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-circle {
  height:21px;
  width:21px;
  border:1px solid transparent;
  border-radius:50%;
  transition: background-color 0.7s;
}

.circle-green {
  background-color: #02d62b;
}

.circle-amber {
  background-color: #f9e616;
}

.circle-red {
  background-color: #f20e0e;
}

.circle-grey {
  background-color: grey;
}

.color-dropdown {
  position:absolute;
  left:0;
  top:0;
  background-color: #282c34;
  z-index: 2;
}

.color-dropdown-menu {
  padding:0;
  margin:0;
  padding:10px;
  list-style: none;
  text-align: center;
}

.color-dropdown-item{
  padding: 5px 0;
}

.color-green:hover{
  background-color: #00CC6F;
}

.color-amber:hover{
  background-color: #ffbf00;
}

.color-red:hover{
  background-color: #ff3d57;
}

.color-grey:hover{
  background-color: grey;
}


