.progress-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  word-wrap: break-word;
}

.progress-red {
  background-color: #ff3d57;
  height: 100%;
  min-height: 100%;
}

.progress-amber {
  background-color: #ffbf00;
  height: 100%;
  min-height: 100%;
}

.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.progress-green {
  background-color: #00CC6F;
  height: 100%;
  min-height: 100%;
}

.progress-grey {
  background-color: grey;
  height: 100%;
  min-height: 100%;
}

.color-dropdown {
  position:absolute;
  left:0;
  top:0;
  background-color: #282c34;
  z-index: 1;
  width:100%;
}

.color-dropdown-menu {
  padding:0;
  margin:0;
  padding:10px;
  list-style: none;
  text-align: center;
}

.color-dropdown-item{
  padding: 5px 0;
}

.color-green:hover{
  background-color: #00CC6F;
}

.color-amber:hover{
  background-color: #ffbf00;
}

.color-red:hover{
  background-color: #ff3d57;
}

.color-grey:hover{
  background-color: grey;
}
