.active-cell{
   height:100%;
}

.table-label {
  height: 100%;
  word-break: break-word;
}

.no-edit{
  cursor:default;
}

.table-datum {
  position: relative;
  text-align: left;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.table-datum {
  padding:1px 0;
  min-height: 30px;
}

.table-datum-visuals:hover {
  background-color: rgb(var(--color12));
}