.panel {
	position: absolute;
	background-color: rgb(var(--color2));
	color: rgb(var(--color5));
	border-radius: 4px;
	box-sizing: border-box;
	z-index: 10000;
}

.panel-padding {
	border: 1px solid rgb(var(--color5));
}

.absolute-caret {
	width: 0;
	height: 0;
	border-style: solid;	
	position: absolute;
}

.absolute-caret-border-colors-up {
	border-color: transparent transparent rgb(var(--color5)) transparent;
}
.absolute-caret-border-colors-down {
	border-color: rgb(var(--color5)) transparent transparent  transparent;
}