.user-profile{
    position:absolute;
    display:inline-block;
}

.user-cell {
height:100%;
user-select: none;
}

.users-container {
position: relative;
height:100%;
margin-left: 5px;
cursor: pointer;
}

.add-container {
position: absolute;
right:5px;
top:23px;
color:var(--color5, white);
font-size: 15px;
font-weight: bold;
}

.cu{
    border: 2px solid var(--color9, wheat);
}

.empty-editable-container {
    user-select: none;
    line-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.empty-editable{
    color: var(--color5, white);
    opacity:0.3;
    margin:0;
    margin-left: 5px;
}
