.main{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(var(--color1));
  min-height: 100vh;
}

.grid{
	width: 95vw;
}

.empty-handler {
  padding:10px;
}



