.react-resizable-handle{
	background-image: none;
}

.react-grid-item > .react-resizable-handle::after {
	content: none;
    border:none;
}


.react-grid-item.react-grid-placeholder {
    background: transparent;
}