.dropdown {
  padding:10px;
  background-color: rgb(var(--color2));
  z-index: 1;
  box-sizing: border-box;
}

.dropdown-input {
  font-size: 16px;
  color: rgb(var(--color5));
  padding-left:5px;
  padding-bottom:3px;
  border: none;
  border-bottom: 2px solid rgb(var(--color5));
  background-color: inherit;
  width:100%;
  margin:0;
  font-weight: 600;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.dropdown-input:focus { outline: none; }

.dropdown-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(var(--color5));
  opacity: 0.6; /* Firefox */
  font-weight: 400;
}

.dropdown-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(var(--color5));
  opacity: 0.5;
}

.dropdown-input::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(var(--color5));
  opacity: 0.5;
}

.dropdown-menu{
  color: rgb(var(--color5));
  list-style: none;
  margin-top:0;
  margin-bottom:0;
  padding:0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-item {
  /* padding: 3px 0; */
  padding:2.5px 0;
}

.dropdown-item:hover {
  background-color: rgb(var(--color8));
  color: rgb(var(--color28));
}

.dropdown-menu::-webkit-scrollbar {
  height:110px;
  width: 10px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background: rgb(var(--color11));
  border-radius: 5px;
}

.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--color12));
}
