.no-select {
	user-select: none;
}

.header-cell {
	height: 40px;
	overflow: hidden;
	font-weight: normal;
}

.scheduler-header {
	display: flex;
	justify-content: space-between;
}

.menu-container {
	z-index: 4;
}

.grey-text {
	fill: var(--color25, #c8c8c8);
}

.white-text{
	fill: var(--color5, white);
}

.header-text {
	fill: var(--color5, white);
	text-anchor: middle;
	font-size: 12px;
}

.edge-bad{
	fill: rgba(0,0,0,0)
}