.scheduler-menu{
	position: absolute;
	right: 0;
	top:100%;
	background-color: #383d47;
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px;
	z-index: 5;
	cursor: default;
	width: 220px;
}

.items-list {
	padding:0;
	margin:0;
	list-style: none;
}

.item {
	padding:3px;
	display:inline-block;
	border:1px solid white;
	border-collapse: collapse;
	cursor:pointer;
}

.selected {
	background-color: green;
}

.datepicker-container {
	margin-bottom:5px;
	cursor: pointer;
}

.demo{
	display: flex;
}

.selected-date {
	margin:0;
	margin-right:5px;
	margin-bottom:5px;
	display:inline-block;
}
