.markings{
	z-index: -1;
	pointer-events: none;
}

.weekend-box {
    fill:rgb(var(--color2));
    pointer-events: none;
    fill-opacity: 0.4;
}

.major-lines{
    stroke: rgb(var(--color5));
	stroke-opacity: 0.5;
	stroke-width: 2px;
}

.minor-lines{
	stroke: rgb(var(--color5));
    stroke-width: 1px;
    opacity:0.1;
}

.legend {
    font-size: 30px;
    font-weight: 300;
    fill: rgb(var(--color5));
    fill-opacity: 0.5;
}