.panel{
  background-color: var(--color2, #383d47);
  color: var(--color5, white);
  border-radius: 4px;
  box-sizing: border-box;
}

.panel-padding{
  padding: 10px;
}

.absolute-caret {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 18px 17px 18px;
  border-color: transparent transparent var(--color24, #282c34) transparent;
  position: absolute;
  top: -10px;
}