
body,html {
  height:100%;
  background-color: var(--color1, #5a6272);
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  /* max-width:1810px; */
  padding:0 5px;
  color:var(--color5, white);
  margin:auto;
  box-sizing: border-box;
}

.color-scheme{
	--color1: #5a6272; /*var(--color1, #5a6272); background*/
	--color2: #383d47; /*var(--color2, #383d47); secondary background, button background, panel background*/
	--color3: #2f3441; /*var(--color3, #2f3441); table header*/
	--color4: #4f5564; /*var(--color4, #4f5564); even row background*/
	--color5: white; /*var(--color5, white); text, button text*/
	--color6: grey; /*var(--color6, grey); disabled text*/

	--color8: #272727; /*var(--color8, #272727); header hover, dropdown hover, button hover background*/
	--color9: wheat; /*var(--color9, wheat); editable text*/
  --color10: grey; /*var(--color10, grey); grey RAG*/
	--color11: #13aedd93; /*var(--color11, #13aedd93); table hover on row*/
	--color12: #5db9ddca; /*var(--color12, #5db9ddca);  table hover on cell*/
	--color13: teal; /*var(--color13, teal); teal button*/
	--color14: black; /*var(--color14, black); alt text*/
	--color15: #ffc92a; /*var(--color15, #ffc92a); yellow RAG*/
	--color16: #74dcee; /*var(--color16, #74dcee); teal RAG*/
	--color17: #00CC6F; /*var(--color17, #00CC6F); green RAG*/
	--color18: #ff3d57; /*var(--color18, #ff3d57); red RAG*/
	--color19: #eda645; /*var(--color19, #eda645); yellow2 RAG*/
	--color20: #6ac4d4; /*var(--color20, #6ac4d4); teal2 RAG*/
	--color21: #00b361; /*var(--color21, #00b361); green2 RAG*/
  --color22: #c33f51; /*var(--color22, #c33f51); red2 RAG*/
	--color23: #6d6d6d; /*var(--color23, #6d6d6d); grey2 RAG*/

	--color25: #c8c8c8; /*var(--color25, #c8c8c8); light shade*/

	--color27: #159e9e; /*var(--color27, #159e9e); teal button hover*/
  --color28: white; /*var(--color28, white); text hover color, button hover color*/
}

.inplacecells{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-container{
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  bottom: 1px;
}

.black-text{
  color:var(--color14, black);
}

.red-text{
  color:var(--color18, #ff3d57);
}

.header-context-menu {
  position: absolute;
  top:100%;
  left:0;
  z-index:100;
}

.context-filter{
	margin-top: 20px;
}

.tripleFill-user-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 0 10px;
  line-height: 40px;
}

.dropdown-title {
  margin:0;
}