.cell-container {
    line-height: 100%;
    display: flex;
    height: 100%;
    align-items: center;
	width: 100%;
	cursor: pointer;
}

.row-selection{
    display:flex;
    height:100%;
    align-items: center;
    cursor: pointer;
    justify-content: left;
    padding: 0 2px;
	padding-right: 10px;
}

.cell-text{
	flex:1;
    margin:0;
    padding-left:2px;
    display:flex;
    align-items:center;
    height:100%;
	width: 1px; /* This line is required because css sucks */
}

.tree-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    user-select: none;
	flex:1;
	text-align: left;
}

.empty-circle{
    color: rgb(var(--color5));
    opacity: 0.5;
	font-size: 10px;
}

.green-circle{
	color: rgb(var(--color17));
	font-size: 10px;
}

.selected-background {
    background-color: rgb(var(--color8));
}
