.default-cell-container {
  line-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.textarea-cell-container:focus-within{
  background-color: rgb(var(--color2));
  border: 1px solid rgb(var(--color5));
}

.textarea {
  font: inherit;
  resize: vertical;
  text-align: start;
}

.input {
  height:100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font: inherit;
  color: inherit;
  width: inherit;
  background: inherit;
  box-sizing: border-box;
}

.cell-error {
  border-bottom:2px solid rgb(var(--color18));
}

.cell-text-error{
  margin:0;
  padding: 5px;
}

.no-select {
  user-select: none;
}

.error-icon{
  width:20px;
  position:absolute;
  top:2px;
  right:2px;
  z-index: 2;
  fill:rgb(var(--color18));
}

.error-info {
  position: absolute;
  top: -20px;
  left: 99%;
  z-index: 2;
  width: 350px;
}

.error-shown {
  visibility: visible;
  opacity: 1;
  transition: all 250ms linear;
}

.error-hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 250ms linear;
}

.error-text {
  margin: 0;
  padding:5px;
  background-color: rgb(var(--color18));
  border-radius:4px;
  transition: all 2s linear;
  color:rgb(var(--color5));
  display: inline-block;
}

.textarea-cell-text{
  margin:0;
  line-height:20px;
  padding-left: 5px;
  word-wrap: break-word;
  background-color: transparent;
  border: none;
  color: rgb(var(--color5));
}

@-moz-document url-prefix() {
  .cell-text{
    display: inline;
  }
}

.text-container{
  background-color: rgb(var(--color2));
  border:1px solid rgb(var(--color5));
  height:100%;
  width:100%;
  box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text-input{
  font-size: 16px;
  color: rgb(var(--color5));
  border: none;
  background-color: inherit;
  font-family: inherit;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  resize: both;
	margin: 0;
	padding: 0;
  line-height: 20px;
	padding-left:4px;
	height:20px;
}


.is-editable{
  color: rgb(var(--color9));
}

.empty-editable, .empty-editable::placeholder {
  color: rgb(var(--color5));
  opacity: 0.3;
  margin:0;
}

