.number-input{
	font-size: 16px;
  color:white;
  border: none;
  background-color: inherit;
  font-family: inherit;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  resize: both;
	margin: 0;
	padding: 0;
  line-height: 20px;
	padding-left:4px;
	height:20px;
}

.number-input:focus { outline: none; }

.text-container{
  background-color: #282c34;
  border:1px solid white;
  height:100%;
  width:100%;
  box-sizing: border-box;
}
